<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.trabajofinal">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TrabajoFinalUPC">
        <activity android:name=".MenuPrincipal"/>
        <activity android:name=".ResumenAsignaciones"/>
        <activity android:name=".InformacionServicio"/>
        <activity android:name=".InformacionCliente"/>
        <activity android:name=".EntregaEquipo"/>
        <activity android:name=".ConsultaServicio"/>
        <!--<activity android:name=".MainActivity"/>-->
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>